modules = ["nodejs-20", "web", "bash"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "bash scripts/replit-dev.sh"
waitForPort = 19382

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm -w run dev"
cwd = "./artifacts/api-server"
waitForPort = 19382

[workflows.workflow.tasks.env]
PORT = "19382"

[[workflows.workflow]]
name = ". "
mode = "sequential"
author = 57182863

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/api-server: API Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/mockup-sandbox: Component Preview Server"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_FIREBASE_AUTH_DOMAIN = "noooooor-app.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "noooooor-app"
VITE_FIREBASE_STORAGE_BUCKET = "noooooor-app.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "230599694330"
VITE_FIREBASE_APP_ID = "1:230599694330:web:8780636368d1469591f643"
VITE_FIREBASE_MEASUREMENT_ID = "G-P96TYMPZQF"
VITE_FIREBASE_API_KEY = "AIzaSyDOVE54x_j5fldKYwTRAG9QzdRok_pD074"

[nix]
channel = "stable-25_05"
packages = ["zulu17", "zip", "killall"]

[[ports]]
localPort = 19382
externalPort = 80
