modules = ["nodejs-20", "web", "java-graalvm22.3"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"
run = ["node", "./dist/index.cjs"]
build = ["npm", "run", "build"]

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 BASE_PATH=/ /home/runner/workspace/node_modules/.bin/vite --config /home/runner/workspace/vite.config.ts --host 0.0.0.0 --port 5000"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_FIREBASE_AUTH_DOMAIN = "noor-app-42696.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID = "noor-app-42696"
VITE_FIREBASE_STORAGE_BUCKET = "noor-app-42696.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID = "716336237791"
VITE_FIREBASE_APP_ID = "1:716336237791:web:4c57f956ec276f9848ad6a"
VITE_FIREBASE_MEASUREMENT_ID = "G-36M36YHHSQ"
VITE_FIREBASE_API_KEY = "AIzaSyA3mM7xwWlHzb3U05zPxcvuUvh9sXrDG4E"

[nix]
channel = "stable-25_05"
packages = ["zulu17", "zip"]

[[ports]]
localPort = 19382
externalPort = 80
